.featured-section {
    padding: 40px 20px;
    background-color: black; /* Light background color */
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .featured-header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
    text-align: left;
  }
  
  .featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    gap: 70px; /* Space between logos */
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
  }
  
  .featured-container img {
    max-width: 150px; /* Adjust the size of the logos */
    height: auto;
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .featured-container img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
  }