/* Ensure the parent container is positioned relative */
.mainpage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  /* Makes it the reference point for absolute positioning */
}

/* Style for the text container */
.text-container {
  flex: 1;
  z-index: 1;

}

.text-container h1 {
  font-size: 3.5rem;
  font: 700 3.5rem/1.2 'Poppins', sans-serif;
  margin-bottom: 20px;
  width: 80%;
}

.text-container p {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #666;
}

/* Style for the image container */
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* Ensure it stays below the search-container */
}

.image-container img {
  height: 500px;
}

/* Style for the search container */
.search-container {
  position: absolute;
  /* top: 70%; */
  /* left: 10%; */
  width: 61%;
  padding: 10px;
  /* margin-bottom: 50px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: white;
  border: none;
}

.search-container select,
.search-container button {
  padding: 10px;
  font-size: 16px;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  background-color: white;
  /* White background for select elements */
  margin-right: -1px;
  /* Remove the double border between selects */
  width: 30%;
  /* Adjust the width of the select elements */
}

.search-container select:last-child {
  margin-right: 0;
  /* Ensure the last select doesn't have a margin */
}

select option {
  white-space: pre-wrap;
  /* Preserve line breaks */
}

.search-container button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}